[build]
rustflags = ["--cfg", "tokio_unstable"]

[target.aarch64-apple-darwin]
rustflags = [
  "-C", "link-arg=-undefined",
  "-C", "link-arg=dynamic_lookup",
]

[target.aarch64-unknown-linux-gnu]
linker = "aarch64-linux-gnu-gcc"
rustflags = [
    "-C", "link-arg=-lpython3.11",
    "-C", "link-arg=-L/usr/lib/python3.11/config-3.11-aarch64-linux-gnu",
]
